@import url('https://fonts.googleapis.com/css2?family=Suez+One&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

body{
    font-family: "Vollkorn";
    font-size: px;
}
h1,h2,h3,h4{
    font-family: "Suez one";
}
.container{
    max-width: 1252px;
    margin-left: auto;
    margin-right: auto;
    
}
.hero{
    padding: 210px 0;
    text-align: center;
    font-size: 30px;
    background: #f6f6f6;
    color: #3D537c;



}
.grid{
    display: flex;
}

.hero-subtitle{
    font-weight: bold;
    

}
.hero-title{
    font-size: 150px;
    

}
.hero-text{}

.content-block{
    display: flex;
    flex-direction: space-between;
    justify-content: space-between;
}
.reverse{
    flex-direction: row-reverse;
}
.direction-coluna{
    flex-direction: column;
}
.content-wrapper{
    width: 100%;
}

.content-block h2{
font-size: 60px;
}
.content-wrapper{
width: 50%;
}

/* celular*/
@media (max-width: 767px){

    .hero-title{
        font-size: 54px; 
        color: chartreuse;
    }  
    .content-block{
        flex-direction: column;
        padding: 0 24px;
    }
    .content-wrapper{
        width: 100%;
    }
    
}

/* tablet em retrato*/
@media (min-width: 768px) and (max-width: 900px){

.hero-title{
    font-size: 70px; 
    color: red;
}
.content-block{
    flex-direction: column;
    padding: 0 24px;}

    .content-wrapper{
        width: 100%;
    }

}